.row {
  /* 全体的なスタイル */
  margin: 20px 0;
  color: #fff;

  h2 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  /* ポスターコンテンツ */
  .row-posters {
    display: flex;
    overflow-x: scroll;
    padding: 20px 0;
    gap: 1rem;
    scrollbar-width: none; /* Firefox用のスクロールバーを非表示 */
    -ms-overflow-style: none; /* IE用のスクロールバーを非表示 */

    /* Webkit用のスクロールバーを非表示 */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .row-poster {
    max-width: 150px;
    max-height: 225px;
    object-fit: contain;
    transition: transform 0.2s;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
      transform: scale(1.08);
    }

    /* 大きなポスターの場合 */
    &-large {
      max-width: 300px;
      max-height: 450px;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
        transform: scale(1.1);
      }
    }
  }

  .netflix-row {
    padding: 20px;

    h2 {
      color: black;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .Row-posters {
      display: flex;
      overflow-x: scroll;
      padding-bottom: 20px;

      .Row-poster {
        width: 100%;
        max-height: 100px;
        margin-right: 10px;
        transition: transform 450ms;
        object-fit: contain;
        cursor: pointer;

        &:last-of-type {
          margin-right: 0;
        }

        &-large {
          max-height: 250px;

          &:hover {
            cursor: pointer;
            opacity: 0.7;
            transform: scale(1.09);
          }
        }

        &:hover {
          cursor: pointer;
          opacity: 0.7;
          transform: scale(1.08);
        }
      }
    }
  }
}
